# This is the root. Disables inheriting other rules.
root = true

# C# files
[*.cs]
tab_width = 4
indent_size = 4
end_of_line = crlf

# Instance fields are camelCase and start with underscore
dotnet_naming_rule.instance_fields_should_be_camel_case.severity = suggestion
dotnet_naming_rule.instance_fields_should_be_camel_case.symbols = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style = instance_field_style
dotnet_naming_symbols.instance_fields.applicable_kinds = field
dotnet_naming_style.instance_field_style.capitalization = camel_case
dotnet_naming_style.instance_field_style.required_prefix = _

# Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = none

# Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = suggestion

# Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

# Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = suggestion

# Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# Non-nullable variable must contain a non-null value when exiting constructor. Consider declaring it as nullable.
dotnet_diagnostic.CS8618.severity = none

# Seal internal types
dotnet_diagnostic.CA1852.severity = none

# 'Class' is an internal class that is apparently never instantiated.
dotnet_diagnostic.CA1812.severity = none

# Consider making public types internal
dotnet_diagnostic.CA1515.severity = suggestion

# Xml files
[*.{xml,csproj}]
indent_size = 2